.allcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1220px;
    max-height: 1500px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 2px 2px 20px rgba(213, 209, 223, 0.5);
    margin-bottom: 20px;
}
.wrapper{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;



}
.left-content {
    display: flex; 
    flex-direction: column;      
    margin: auto 0;
    padding: 0 15px;  
    margin: 0px;
    padding: 0 25px;
    max-width: 510px;
    min-height: 98px;
    
}
.leftMiddle{
    display: flex;
    width: 1133px;
}
.tagwrap{
    margin-left: -25px;
    margin-top: 15px;
}

.titleWrap{
    max-width: 455px;
    display: flex;
    flex-direction: row;
    margin-top: 30px;

}
.numberRank{
    font-size: 54px;
    color: #FFAD80;
    font-weight: 600;
    
}
.titleFeatues{
    display: flex;
    flex-direction: column;
    margin-left: 31px;
}


    .features{
           margin: 22px 0px;
           padding-right: 1px;  
           width: 306px;
    }
    .features li{
        margin-bottom: 10px;
    }
    .middle-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 56px;
        margin: 10px 0;

    }
    .rating-number{
        font-size: 38px;
        font-weight: 600;
        font-family: 'Arial';
        align-self: center;
    }
    .rating-wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        border-left: 2px solid #FFAD80;
        border-right:2px solid #FFAD80; 
        height: 237px;
        padding: 20px;
    }
    .react-rater-star {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
 
   
    .title-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        max-width: 300px;
       
    }
    .title-box p{
      padding-bottom: 16px;
    }
    .name h1{
        font-size: 36px;
        margin-bottom: 3px;
    }
    .image-wrap{
        display: flex;
            height: 60px;        
            
    }
    .rightSection{
        display: flex;
        margin: auto;
        flex-wrap: wrap;
    }
    .right-wrapper{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding: 40px 0px 40px 40px;
    }

    .right-wrapper p{
        margin-bottom: 0;
    }
    .cta a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: white;
        border-radius: 8px;    
        background-color: #5B418B;
        cursor: pointer;
        font-family:'Raleway', sans-serif;
        font-weight: 600;
        font-size: 17px;
        width: 146px;
        height: 40px;
        margin: 10px;
    }
    .cta :hover{
        background-color: rgb(48, 21, 97);
        color: white;
    }
    .bottom-logo{
        margin: auto 10px;   
     }
    .long-cta a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #5B418B;
        border-radius: 8px;
        background: #FFFFFF;
        border: 1px solid #5B418B;
        cursor: pointer;
        font-family: 'Raleway', sans-serif;
        font-weight:   700 ;
        font-size: 17px;
       width: 300px;
        height: 50px;
       
        margin-top: 40px;
    }
    .long-cta :hover{
        color: white;
        background-color: #5B418B;
    }
    
    .price{
        color: #525151;
        font-weight: 500;
        margin-top: 3px;
    }
    .bestFor{
        color: #646464;
        padding-bottom: 0;
        width: 380px;
    }
    .line{
        height: 2px;
        background-color: #FFAD80;
        border-width:0;
        margin-top: 16px;
        max-width: 500px;
    }
    .read-more{
        margin: 0 auto;
        color: #575757;
    }
    .read-more button{
        margin: auto 0;
        display: flex;
        align-items: center;
        padding: 0.3rem;
        color: #575757;
        background-color: transparent;
        border: none;
    }
    .arrow {
        margin-top: 5px;
        height: 1.6em;
        width: 1.6em;
    }
    .arrow:after {
    transform: rotate(90deg);
}
    .content{
        margin: 10px 93px;
        color: var(--mainBlack);
        max-width: 616px;

    }
    .content p{
        font-size: 17px;
        line-height: 1.6em;
    }
    .features ul {
        list-style: none;
        

      }
      
     .features ul li::before {
        content: "✓";
        color:#8461C9;
        font-weight: bold;
        display: inline-block; 
        width: 1em;
        margin-left: -1em;
      }
      @media screen and (max-width: 1124px) {
          .bestFor{
              width: 300px;
              
          }
         
    }
    @media screen and (max-width: 980px) {
        .allcontent{
            max-height: 890px;
        }
    .rating-wrap{
        padding: 10px;
        border: none;
        height: 174px;
        margin-bottom: -20px;
        
    }
    .rightSection{
        display: inline-grid;
    }
    .right-wrapper{
        padding: 0px;
        margin-top: 30px;
    }
    .bestFor{
       max-width: 580px;
    }
    .list-price{
        display: none;
    }
    .features{
       
        font-size: 14px;
    }
    .line{
        margin-top: 36px;
        max-width: 540px;
    }
    .numberRank{
        font-size: 48px;
    }
    .allcontent{   
        max-height: 1500px;
    
}
    }
    @media screen and (max-width: 720px) {
        .features{
            width: unset;
        }
        .rating-wrap{
            width: unset;
        }

    }

    @media screen and (max-width: 620px) {
       
        .bestFor p{
            width: 360px;
        }
        .features{
            display: none;
        }
    
        .left-content{
            padding: 5px;
        }
        .leftMiddle{
            flex-wrap: wrap;
        }   
        .bestFor{
            width: 300px;
        }
        
        .cta a{
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: white;
            border-radius: 8px;    
            background-color: #5B418B;
            cursor: pointer;
            font-family:'Raleway', sans-serif;
            font-weight: 600;
            font-size: 17px;
            width: 146px;
            height: 40px;
            margin: 10px;
        }
        .tagwrap{
            margin: 0;
        }
        .rightSection{
            display: flex;
        }
        .rating-wrap{
            margin-right: 100px;
        }
        .allcontent{   
            max-height: 1500px;
        
}
    }

      @media screen and (max-width: 520px) {
       
        .bestFor p{
            width: 360px;
        }
        .features{
            display: none;
        }
    
        .left-content{
            padding: 5px;
        }
        .leftMiddle{
            flex-wrap: wrap;
        }   
        .bestFor{
            width: 300px;
        }
        
        .title-box p{
            padding-bottom: 0;
        }
        .title-box {
            padding-left: 10px;
        }
        .cta a{
           
            width: 346px;
            
        }
        .tagwrap{
            margin: 0;
        }
        .rightSection {
            justify-content: center;
            padding: 5px;
            margin: 0px;
        }
        .rating-wrap{
            margin-right: 0px;
            padding: 0px;
            height: 135px;
             margin-bottom: 0px;
        }
        .wrapper{
            padding: 5px;
        }
        .titleFeatues{
            margin-left: 0px;
            max-width: 390px;
        }
    
        .right-wrapper{
            margin-top: 0px;
        }
        .line{
            margin-top: 10px;
        }
        
            }

    @media screen and (max-width: 460px) {
       .rightSection{
           margin: 0px;
       }
       .numberRank{
           display: none;
       }
       
       .title-box{
        align-items: center;
        text-align: center;
        padding-bottom: 0;
    }
    .title-box {
        padding-left: 0px;
    }
    .leftMiddle{
        justify-content: center;
    }   
    .left-content{
        align-items: center;
    }
    .content{
        margin: 10px;
    }
    .long-cta{
        display: flex;
        justify-content: center;
    }
    
}
@media screen and (max-width: 425px) {
    
    .cta a{  
        width: 306px;
    }
    .wrapper{
        padding: 0px;
        justify-content: center;
    }
}
        @media screen and (max-width: 376px) {
            .cta a{  
                width: 220px;
            }
            .leftMiddle{
                width: 280px;
            }
            .bestFor{
                width: 252px;
            }
      }