.wrapper{
    max-width: 854px;
    margin: 70px 0;
}


.title h1{
    border-bottom: 8px solid #FF9960;
    font-size: 32px;
}

.container{

    box-sizing: border-box;
    border: 1px solid #C0C0C0;
    padding: 0 15px;
    padding-bottom: 22px;
}