
.footer-wrap{
    display: flex;
flex-direction: column;
box-sizing: border-box;
width: 100%;
height: 320px;
background: #281D3D;
align-items: center;
justify-content: center;
margin-top: 100px;
}


.footer-links{
display: flex;
flex-direction: row;
padding-bottom:45px  ;
border-bottom: 1px solid #CACACA;
font-weight: 700;
margin-top: 60px;
margin-bottom: 10px;
list-style-type: none;
}
.footer-links a{
  text-decoration: none;
  color: #F7F7F7; 
  padding: 0 30px;
}
.footer-links a:hover{

  color: #C1C1C1; 
 
}



.aviso{

margin: 10px 0;
padding: 0 10px;
}
.aviso {
  text-align:center;
  color: #F7F7F7; 
  
}



.copyright {
margin-top: 15px 0;
}

.copyright p{
  text-align:center;
  color: #F7F7F7; 
  font-size: 14px;
}
.pia {
    color:#281D3D ;
}

@media screen and (max-width: 425px) {

    .footer-wrap{
        background: #F7F7F7;
    }
    .footer-links a{
        color: var(--mainBlack); 
        padding: 0 50px;
      }
      .footer-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 25px;      
}
.aviso {
    text-align:center;
    color: var(--mainBlack); 
    font-size: 14px;
  }
  
.copyright p{
    text-align:center;
    color: var(--mainBlack);
    font-size: 14px; 
  }
  .pia {
    color:#F7F7F7 ;
}
}