.container{
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  width: auto;
  }
  
.navbar {
  overflow: hidden; 
}

.text-container{
  text-align: center;
  padding:  0 30px;
  color: white;
}

.title h1 {
  font-size: 28px;
  padding: 0 3px;
  }
  .subtitle {
    font-size: 16px;
  }

  .bottom{
    height:100px;
  }
  
  @media screen and (min-width: 375px) {
    .title h1 {
      font-size: 32px;
      }
      .subtitle {
        font-size: 18px;
      }
  }
  @media screen and (min-width: 590px) {
    .title h1{
      font-size: 38px;
      }
      .bottom{
        height: 120px;
      }
  }
  @media screen and (min-width: 768px) {
    .title h1{
      font-size: 42px;
      }
      .subtitle {
        font-size: 20px;
      }
  }
  
  @media screen and (min-width: 850px) {
    .title h1{
      font-size: 44px;
      }
      .subtitle {
        font-size: 22px;
      }
    .nav-header {
        display: flex;
        min-width: 700px;
    }
}
@media screen and (min-width: 1024px) {
  .title h1{
    font-size: 48px;
    }
    .subtitle {
      font-size: 24px;
    }
}
@media screen and (min-width: 1330px) {
  .title h1{
    font-size: 60px;
    }
    .bottom{
      height: 190px;
    }
}
@media screen and (min-width: 1440px) {
  .title h1{
    font-size: 64px;
    }
    .bottom{
      height: 160px;
    }
    .subtitle {
      font-size: 26px;
    }
  
}
@media screen and (min-width: 1600px) {
  .title h1{
    font-size: 66px;
    }
  }