.grid-title{
align-self: center;
display: flex;
flex-direction: column;
max-width:1248px;
margin: auto;
justify-content: center;

}
.title{
    margin: 1.2rem 1.25rem ;
    border-bottom: 1px solid #969696;
    padding-top: 0.6rem;
}
.wrapper{
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 15px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

   
}

.card{
display: flex;
flex-direction: column;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
width: 320px;
height: 290px;
margin: 50px 10px;
}
.card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}

.image{
  
height: 165px;
width: 100%;
}

    

.container a {
text-decoration: none;
text-align: left;
font-family: "Raleway", sans-serif;
color: var(--mainBlack);

}
.text{
    padding: 0.6rem 1.25rem;
}
    .container a:hover{
        color: rgb(24, 58, 100)
      
    }
    @media screen and (max-width: 1050px) {
        .wrapper{
        justify-content: space-evenly;
        }

    }

    @media screen and (max-width: 670px) {
        .wrapper{
        justify-content: center;
        }

    }