.navbar {
    
    border-bottom: 1px solid #CACACA;

  }
.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 1rem;
}
    
  .image{
    width: auto;
    height: 35px;
  }
  .logo-btn {
    background: transparent;
    border: none;
    outline: none;
    color:  #5B418B;
  }
  .logo-btn:hover {
    cursor: pointer;
  }
  .logo-icon {
    color: var(--primaryColor);
    font-size: 1.5rem;
  }
  

  .nav-links {
    list-style-type: none;
    transition: var(--mainTransition);
    height: 0;
    overflow: hidden;
    
  }
  .cta {
    display: none;
}
  
  .show-nav {
    height: 90px;
  }
  .nav-links a {
    display: block;
    padding: 0.7rem 1.25rem;
    text-decoration: none;
    color: #5B418B;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: var(--mainSpacing);
    
  }
  .nav-links a:hover {
    color: var(--White);
    
  }
  .nav-social-links {
    display: none;
  }
  @media screen and (min-width: 576px) {
    .navbar {
      padding: 0 2rem;
    }
    .image{
      width: auto;
      height: 40px;
    }
  }
  
  @media screen and (min-width: 848px) {
    .nav-header {
        display: flex;   
    }
    .nav-links li{
      display: none;
    }
    .navbar {
        padding: 0.2rem 1.25rem;
      }
      image{
        width: auto;
        height: 40px;
    }

    .logo-btn {
      display: none;
    }
    .cta {
        
      display: flex;
      font-family: 'Raleway', sans-serif;
      margin: 0 10px;
     
      
    }
    .cta button{
      border-radius: 32px;
      border: 1px solid #5B418B;
      background-color: transparent;
      cursor: pointer;
      
    }

    .cta button:hover {
      cursor: pointer;
      background-color: #5B418B
   

    }
    .cta a:hover {
      color: var(--White);
    }
    
    .nav-center {
      
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1520px;
      

    }
    .nav-links {
      height: auto;
      display: flex;
      margin: auto 0;
    }
    @media screen and (min-width: 1244px) {
      
      .navbar {
          padding: 0.25rem 2rem;
        }
      }
    
    
    
  }