.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.25rem;
    
  }
  img{
    width: 195px;
    height: 38px;
  }
  .logo-btn {
    background: transparent;
    border: none;
    outline: none;
  }
  .logo-btn:hover {
    cursor: pointer;
  }
  .logo-icon {
    color: var(--primaryColor);
    font-size: 1.5rem;
  }
  
  .nav-links {
    list-style-type: none;
    transition: var(--mainTransition);
    height: 0;
    overflow: hidden;
    
  }
  .cta {
    display: none;
}
  
  .show-nav {
    height: 90px;
  }
  .nav-links a {
    display: block;
    padding: 1rem 1.25rem;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--White);
    transition: var(--mainTransition);
    font-weight: bold;
    letter-spacing: var(--mainSpacing);
  }
  .nav-links a:hover {
    color: var(--primaryColor);
  }
  .nav-social-links {
    display: none;
  }
  @media screen and (min-width: 576px) {
    .navbar {
      padding: 0 2rem;
    }
  }
  
  @media screen and (min-width: 800px) {
    .nav-header {
        display: flex;
        
    }

    .logo-btn {
      display: none;
    }
    .cta{
        background: var(--Main);
        display: flex;
        float: right;
        border-radius: 8px;
        cursor: pointer;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        
      }
    
    .nav-center {
      
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .nav-links {
      height: auto;
      display: flex;
      margin: auto 0;
    }
    
    
  }