.navbar {
    
    border-bottom: 1px solid #CACACA;

  }
.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 1.25rem;
}
    
  .image{
    width: auto;
    height: 35px;
  }
  .logo-btn {
    background: transparent;
    border: none;
    outline: none;
    color: #6D538F;
  }
  .logo-btn:hover {
    cursor: pointer;
    
  }
  .logo-icon {
    color: var(--primaryColor);
    font-size: 1.5rem;
  }
  
  .nav-links {
    list-style-type: none;
    transition: var(--mainTransition);
    height: 0;
    overflow: hidden;
    
  }
  .cta {
    display: none;
}
  
  .show-nav {
    height: 90px;
  }
  .nav-links a {
    display: block;
    padding: 0.6rem 1.25rem;
    text-decoration: none;
    color: var(--mainBlack);
    font-weight: bold;
    font-size: 15px;
    letter-spacing: var(--mainSpacing);
    
  }
  .nav-links a:hover {
    color: var(--mainBlack);
    
  }
  .nav-social-links {
    display: none;
  }
  @media screen and (min-width: 576px) {
    .navbar {
      padding: 0 2rem;
    }
    .image{
      width: auto;
      height: 45px;
    }
  }
  
  @media screen and (min-width: 848px) {
    .nav-header {
        display: flex;
        
    }
    
    .navbar {
        padding: 0.2rem 2rem;
        

      }
      image{
        width: auto;
        height: 50px;
    }

    .logo-btn {
      display: none;
    }
    .cta {
        
      display: flex;
      font-family: 'Raleway', sans-serif;
      margin: 0 10px;
     
      
    }
    .cta button{
      border-radius: 32px;
      border: 1px solid var(--mainBlack);
      background-color: transparent;
      cursor: pointer;
      
    }

    .cta button:hover {
      cursor: pointer;
      background-color: var(--mainBlack);
   

    }
    .cta a:hover {
      color: var(--White);
    }
    
    .nav-center {
      
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1520px;
      

    }
    .nav-links {
      height: auto;
      display: flex;
      margin: auto 0;
    }
    
    
  }