.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 1.0rem;
    
  }
  .image{
    width: auto;
    height: 35px;
  }
  .logo-btn {
    background: transparent;
    border: none;
    outline: none;
    color: var(--White);
  }
  .logo-btn:hover {
    cursor: pointer;
  }
  .logo-icon {
    color: var(--primaryColor);
    font-size: 1.5rem;
  }
  .dropdown {
    display: block;
    padding: 0.6rem ;
    padding-left: 1.25rem;
    padding-right: 0.2rem;
    text-decoration: none;
    color: var(--White);
    font-weight: bold;
    font-size: 15px; 
    font-family: 'Raleway', sans-serif;   
    text-align: left;   
    letter-spacing: var(--mainSpacing);
    background-color: transparent;
    border: none
}
.arrow{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.arrow:hover{
    color: var(--mainBlack);
    
}
.arrow button:hover{
    color: var(--mainBlack);
    }
    .links-back{
        box-sizing: border-box;
        background-color: var(--Main) ;
        height: 200px;
    }

  
  .nav-links {
    list-style-type: none;
    transition: var(--mainTransition);
    height: 0;
    overflow: hidden;
    
    
  }
  
  .cta {
    display: none;
}
  
  .show-nav {
    height: 90px;
  }
  .nav-links a {
    display: block;
    padding: 0.7rem 1.25rem;
    text-decoration: none;
    color: var(--White);
    font-weight: bold;
    font-size: 15px;    
    text-align: left;   
    letter-spacing: var(--mainSpacing);
    
  }
  .nav-links a:hover {
    color: var(--mainBlack);
    
  }
  .nav-social-links {
    display: none;
  }
  @media screen and (min-width: 576px) {
  
    .image{
      width: auto;
      height: 35px;
    }
  }
  
  @media screen and (min-width: 848px) {
    .nav-header {
        display: flex;
        
    }
    .navbar {
        padding: 0.25rem 1.25rem;
      }
      .image{
        width: auto;
        height: 40px;
    }

    .logo-btn {
      display: none;
    }
    .nav-links li{
      display: none;
    }
    .cta {
        
        display: flex;
        font-family: 'Raleway', sans-serif;
        margin: 0 10px;
       
        
      }
      .cta button{
        border-radius: 32px;
        border: 1px solid var(--White);
        background-color: transparent;
        cursor: pointer;
        
      }

      .cta button:hover {
        cursor: pointer;
        background-color: var(--White);
        color:var(--mainBlack) ;
        
        

      }
    
    .nav-center {
      
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1480px;
    }
    .nav-links {
      height: auto;
      display: flex;
      margin: auto 0;
    }
    @media screen and (min-width: 1244px) {
      
      .navbar {
          padding: 0.25rem 2rem;
        }
      }
    
    
  }