.grid{
width: 785px;
display: flex;
flex-direction: row;
justify-content: flex-start;
}
.wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 15px;
    justify-content: space-between;
    
    padding-bottom: 60px;


}